<h1 class="mb-4 mt-4 font-weight-bold">About</h1>
<p>CSS: Bootstrap 4</p>
<p>Server: Express/Node.js app</p>
<p>Template engine: Handlebars.js</p>
<p>Database: Mlab (MongoDB)</p>
<p>Deployment: Heroku </p>
<p>Built: 4th March 2019 </p>
