<div class="jumbotron text-center">
  <h1 class="display-7 mb-4">{{title}}</h1>
  <p class="lead mt-4">
    Thinkful do not advocate server side rendering. 
    However, I wanted to have a go at learning a template engine, method-override and flash messages. 
    Hence this basic tutorial driven web app. I actively use this to capture and list all the side 
    projects and reading which I  plan to do to supplement the bootcamp curriculum. 
  </p>
</div>