<div class="jumbotron text-center">
  <h1 class="display-7 mb-4">{{title}}</h1>
  <h2 class="display-5 mb-4">    Secure web application for tracking learning goals.
</h2>
  <p class="lead mt-4">
  My main Node.js project uses JQuery and fetch on the front-end.
  However, I wanted to have a go at learning a template engine and server-side rendering. Hence this mini CRUD app.
  I actively use this to capture and list all the side projects and reading which I plan to do to supplement 
  the Thinkful coding boot-camp curriculum.
  </p>
</div>